/* add your styles here */

.image{
  width: 80%;
}
.parent{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
}
h1{
  text-align: center;
}